Repository beantownpub/infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, prod

atlantis.yaml:

version: 3
projects:
- dir: dev
  name: dev
  workspace: development
  autoplan:
    enabled: true
    when_modified: ["**/*.tf*", "../modules/**/*.tf*"]
  workflow: custom_plan
- dir: prod
  name: prod
  workspace: production
  autoplan:
    enabled: true
    when_modified: ["**/*.tf*", "../modules/**/*.tf*"]
  workflow: workspace_plan

workflows:
  custom_plan:
    plan:
      steps:
      - run: |
          echo "Workspace: ${WORKSPACE}"
          echo "Directory: ${PWD}"
          export TF_WORKSPACE=${WORKSPACE}
          terraform init -no-color
          terraform plan -no-color -input=false -refresh -out $PLANFILE

cleanup
  pilot/main.tf
Due: none

Add Terraform Cloud configs
  .tool-versions
  atlantis.yaml
  dev/.terraform.lock.hcl
  dev/main.tf
  dev/provider.tf
  prod/.terraform.lock.hcl
  prod/backend.tf
  prod/main.tf
  prod/provider.tf
  prod/variables.tf
  tfc/.terraform.lock.hcl
  tfc/backend.tf
  tfc/main.tf
  tfc/members.tf
  tfc/outputs.tf
  tfc/providers.tf
  tfc/variables.tf
  tfc/workspace_vars.tf
Due: dev, prod

Update pilot
  Makefile
  pilot/provider.tf
  pilot/variables.tf
  tfc/main.tf
  tfc/members.tf
  tfc/variables.tf
  tfc/workspace_vars.tf
Due: none

Update pilot
  pilot/backend.tf
  pilot/providers.tf
  tfc/pilot_vars.tf
  tfc/prod_vars.tf
Due: none

Add istio-ingress.yaml service to user_data.sh
  modules/ec2/templates/user_data.sh
Due: none

Add gateway to user_data.sh
  modules/ec2/templates/user_data.sh
Due: none

Terraform formatting
  pilot/variables.tf
Due: none

Add hubble virtual service to user_data
  modules/ec2/templates/user_data.sh
Due: none

Add dev environment
  Makefile
  dev/.terraform.lock.hcl
  dev/backend.tf
  dev/main.tf
  dev/outputs.tf
  dev/provider.tf
  dev/providers.tf
  dev/variables.tf
  pilot/main.tf
  pilot/providers.tf
  tfc/dev_vars.tf
  tfc/variables.tf
Due: dev

Add tailscale
  Makefile
  dns/.terraform.lock.hcl
  dns/backend.tf
  dns/main.tf
  dns/outputs.tf
  dns/variables.tf
  tailscale/.terraform.lock.hcl
  tailscale/Makefile
  tailscale/main.tf
  tailscale/providers.tf
  tailscale/variables.tf
  tfc/main.tf
  tfc/tailscale.tf
  tfc/workspace_vars.tf
Due: none

Add CDN
  .pre-commit-config.yaml
  .terraformignore
  Makefile
  cdn/.terraform.lock.hcl
  cdn/Makefile
  cdn/main.tf
  cdn/outputs.tf
  cdn/providers.tf
  cdn/variables.tf
  scripts/bootstrap_bucket.sh
  tailscale/.terraform.lock.hcl
  tailscale/Makefile
  tailscale/ec2.tf
  tailscale/providers.tf
  tailscale/relay-init.sh.tpl
  tailscale/security.tf
  tailscale/variables.tf
  test/data/.terraform.lock.hcl
  test/data/main.tf
  tfc/cdn.tf
  tfc/main.tf
  tfc/tailscale.tf
  tfc/variables.tf
Due: none

Add circleci
  Makefile
  circleci/.terraform.lock.hcl
  circleci/contact_api.tf
  circleci/providers.tf
  circleci/variables.tf
  tfc/circleci.tf
  tfc/variables.tf
Due: none

Squashed commit of the following:
  Makefile
  cdn/main.tf
  circleci/Makefile
  circleci/admin/.terraform.lock.hcl
  circleci/admin/main.tf
  circleci/admin/providers.tf
  circleci/admin/variables.tf
  circleci/beantown/.terraform.lock.hcl
  circleci/beantown/main.tf
  circleci/beantown/providers.tf
  circleci/beantown/variables.tf
  circleci/contact_api.tf
  circleci/main.tf
  circleci/menu_api/.terraform.lock.hcl
  circleci/menu_api/main.tf
  circleci/menu_api/providers.tf
  circleci/menu_api/variables.tf
  circleci/merch_api/.terraform.lock.hcl
  circleci/merch_api/main.tf
  circleci/merch_api/providers.tf
  circleci/merch_api/variables.tf
  circleci/variables.tf
  tfc/backend.tf
  tfc/circleci.tf
  tfc/outputs.tf
  tfc/pilot_vars.tf
  tfc/tailscale.tf
  tfc/variables.tf
Due: none

circleci update
  .circleci/config.yml
Due: none

circleci fix
  .circleci/config.yml
Due: none

Fix .terraformignore
  .circleci/config.yml
  .terraformignore
  pilot/providers.tf
Due: none

CircleCI cleanup
  .circleci/config.yml
  tfc/circleci.tf
  tfc/variables.tf
Due: none

CircleCI 'improvements'
  .circleci/config.yml
Due: none

Circleci fixes
  .circleci/config.yml
Due: none

CircleCI cleanup
  .circleci/config.yml
Due: none

Add circleci (#10)
  .circleci/config.yml
  .terraformignore
  Makefile
  cdn/main.tf
  circleci/Makefile
  circleci/admin/.terraform.lock.hcl
  circleci/admin/main.tf
  circleci/admin/providers.tf
  circleci/admin/variables.tf
  circleci/beantown/.terraform.lock.hcl
  circleci/beantown/main.tf
  circleci/beantown/providers.tf
  circleci/beantown/variables.tf
  circleci/contact_api.tf
  circleci/main.tf
  circleci/menu_api/.terraform.lock.hcl
  circleci/menu_api/main.tf
  circleci/menu_api/providers.tf
  circleci/menu_api/variables.tf
  circleci/merch_api/.terraform.lock.hcl
  circleci/merch_api/main.tf
  circleci/merch_api/providers.tf
  circleci/merch_api/variables.tf
  circleci/variables.tf
  tfc/backend.tf
  tfc/circleci.tf
  tfc/outputs.tf
  tfc/pilot_vars.tf
  tfc/tailscale.tf
  tfc/variables.tf
Due: none

Update README
  README.md
Due: none

Cleanup
  tfc/cdn.tf
  tfc/circleci.tf
  tfc/dev_vars.tf
  tfc/main.tf
  tfc/members.tf
  tfc/pilot_vars.tf
  tfc/prod_vars.tf
  tfc/workspace_vars.tf
Due: none

Cleanup
  tfc/dev.tf
  tfc/pilot.tf
  tfc/prod.tf
  tfc/tfc.tf
Due: none

Attempt to add cloud-controller-manager to cluster
  .github/settings.yml
  modules/ec2/main.tf
  modules/ec2/templates/user_data.sh
  modules/ec2/templates/worker_user_data.sh
  modules/ec2/variables.tf
Due: dev, prod

Fix join cluster
  modules/ec2/main.tf
  modules/ec2/variables.tf
  modules/security-group/main.tf
  modules/security-group/variables.tf
  pilot/variables.tf
Due: dev, prod

More aws ccm debugging
  modules/ec2/main.tf
  modules/ec2/outputs.tf
  modules/ec2/templates/user_data.sh
  modules/ec2/templates/worker_user_data.sh
  pilot/outputs.tf
Due: dev, prod

Add cloud controller to manager to clusters
  Makefile
  circleci/menu_api/providers.tf
  modules/ec2/templates/user_data.sh
  modules/iam/main.tf
  pilot/main.tf
Due: dev, prod

Fix circleci
  circleci/menu_api/providers.tf
Due: none

cleanup
  dns/backend.tf
  dns/main.tf
  dns/providers.tf
Due: none

Fix user_data script
  modules/ec2/main.tf
  modules/ec2/templates/user_data.sh
  modules/ec2/variables.tf
  tfc/outputs.tf
  tfc/tfc.tf
  tfc/variables.tf
Due: dev, prod

add new providers and stuff
  .tool-versions
  grafana/.terraform.lock.hcl
  grafana/Makefile
  grafana/iam.tf
  grafana/outputs.tf
  grafana/providers.tf
  grafana/variables.tf
  modules/alb/outputs.tf
  modules/ec2/asg.tf
  modules/ec2/templates/user_data.sh
  modules/ec2/variables.tf
  modules/iam/main.tf
  pilot/.tool-versions
  pilot/main.tf
  prod/provider.tf
  tfc/dns.tf
  tfc/grafana.tf
  tfc/main.tf
  tfc/pilot.tf
  tfc/tfc.tf
  tfc/variables.tf
Due: dev, prod

update terraform version
  tfc/dev.tf
  tfc/dns.tf
  tfc/grafana.tf
  tfc/pilot.tf
  tfc/prod.tf
  tfc/tailscale.tf
  tfc/variables.tf
Due: none

cleanup
  pilot/backend.tf
Due: none

fix asg
  Makefile
  modules/ec2/asg.tf
Due: dev, prod

Fix user_data script
  modules/ec2/templates/user_data.sh
Due: none

update ami
  modules/ec2/main.tf
Due: dev, prod

update k8s version
  modules/ec2/templates/user_data.sh
  modules/ec2/variables.tf
Due: dev, prod

fix cri socket
  modules/ec2/templates/user_data.sh
Due: none
